<script>
  $(document).ready(function(){

    function Player(playernum){
      this.playernum = playernum;
      this.choices = [];
      this.active = false;

      if (this.active = false){
        $("td").prop('disabled', true);
      } else {
        $("td").prop('disabled', false);
        $("td.picked").prop('disabled', true);
      }
    }

    function Game(player1, player2){
      alert("P1 will start first")
      var squares = $(document).find("td")
      this.current_turn = 0
      player1.active = true
    }

    // debugger
    var player1 = new Player(1);
    var player2 = new Player(2);
    var activePlayer;
    var game = new Game(player1, player2);
    var moveNum = 0;
    var gameId = "<%= @game.id %>"

    $("#pick").click(function(e){
      e.preventDefault();
      moveNum ++;

      $(this).prop('disabled', true);
      if (player1.active) {
        this.value = "X"
        activePlayer = 1;
      } else {
        this.value = "O"
        activePlayer = 2;
      };
      $.ajax({
        type: "post",
        url: "/game/moves",
        dataType: "json",
        data: { player: activePlayer, move: moveNum, box: $(this).parents("td").attr('id'), game: gameId}
      })
       .done(function(response){

          activePlayer = response["activePlayer"];

          $("div.container").append("Successful")
        });


    });
  })


  //NEED ADAPTATION TO CHECK FOR ID
    function checkForWinner(squares, players, currentTurn) {
      if (squares[0].innerText == players[currentTurn] &&
          squares[1].innerText == players[currentTurn] &&
          squares[2].innerText == players[currentTurn])
        return true;
      if (squares[3].innerText == players[currentTurn] &&
          squares[4].innerText == players[currentTurn] &&
          squares[5].innerText == players[currentTurn])
        return true;
      if (squares[6].innerText == players[currentTurn] &&
          squares[7].innerText == players[currentTurn] &&
          squares[8].innerText == players[currentTurn])
        return true;
      if (squares[0].innerText == players[currentTurn] &&
          squares[3].innerText == players[currentTurn] &&
          squares[6].innerText == players[currentTurn])
        return true;
      if (squares[1].innerText == players[currentTurn] &&
          squares[4].innerText == players[currentTurn] &&
          squares[7].innerText == players[currentTurn])
        return true;
      if (squares[2].innerText == players[currentTurn] &&
          squares[5].innerText == players[currentTurn] &&
          squares[8].innerText == players[currentTurn])
        return true;
      if (squares[0].innerText == players[currentTurn] &&
          squares[4].innerText == players[currentTurn] &&
          squares[8].innerText == players[currentTurn])
        return true;
      if (squares[2].innerText == players[currentTurn] &&
          squares[4].innerText == players[currentTurn] &&
          squares[6].innerText == players[currentTurn])
        return true;
      return false;
    }

  function isFullBoard(squares) {
    for (var i = 0, len = squares.length; i < len; i++) {
      if (squares[i].innerText.length == 0) {
        return false;
      } else {
        return true;
      }
    }
  }

  function isDraw(squares) {
    return (!checkForWinner(squares, ["X"], 0)) && isFullBoard(squares);
  }
    //END

</script>

<div class="container">
  <h1>Welcome to the Pin Pin Tic Tac Toe!</h1>

    <table id="tictac">
      <tbody>
        <% 3.times do |row| %>
        <tr>
          <% 3.times do |square| %>
            <td id=<%="cell#{(square + 1).to_s}#{(row + 1).to_s}"%>>
              <form action="/play_game" method="POST">
                <input type="hidden" name="coords" value=<%="#{square + 1},#{(row + 1)}"%>>
                <input id="pick" style="height:100px; width:100px" type="submit" name="square" value="." width="100" height ="100">
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>

  <br>
  <a href="/users/new" >Create Your Account</a>

</div>