
<div class="container">
  <h1>Welcome to the Pirated Bit.Ly!</h1>
  <p>Ahoy, mateys!</p>

  <div>
      <div class="btn btn-default new-game">
        <a class="new_game" href="/games/new">Create a new game</a>
      </div>
  </div>

    <a href="/play"
    <h2>Join a Game</h2>

    <div class="link">
    <% if !@games.nil? %>
    <% @games.each do |game| %>
        <a href="/games/<%=game.id%>/join">
        <p>Game<%= game.id %></p>
    <% end %>
    <% end %>
    </div>

  <a href="/logout" >Log Out</a>
</div>

<script>



</script>



