
<div class="container">
  <h1>Welcome to the Pirated Bit.Ly!</h1>
  <p>Ahoy, mateys!</p>

  <br><br>
  <%= "Hi #{session[:email]}," %>
  <p>Here is your list of shortened URLs ye landlubber!</p>
  <% urls = Url.where(user_id: session[:id]) %>
  <% urls.each do |url| %>
  <p><a href="<%= "localhost:9393/#{url.key}" %>"><%= "localhost:9393/#{url.key}   " %> <br> </a> <%= "Times clicked : #{url.counter.to_s}" %><p>
  <% end %>

  <a href="/logout" >Log Out</a>
</div>