

<div class="container">
  <h1>Welcome to the Pirated Bit.Ly!</h1>
  <p>Ahoy, mateys!</p>

  <img src="https://piratebay.org/img/tpb.jpg" alt="Smiley face" align="middle">

    <form action="/users/new" method="post">
    Create an account, it takes less than 20 seconds!<br>
    <input type="text" name="email" value="Email">
    <br>
    <input type="text" name="password" value="Password">
    <input type="submit" value="Submit">
  </form>
  <br>

</div>