<div class="container">
  <h1>Welcome to the Pin Pin Tic Tac Toe!</h1>
  <p>What?!</p>

  <img src="http://www.coverportal.com/Audio/GrafikAudio/tic_tac_toe_ist_der_ruf_erst_ruiniert_a.jpg" alt="lulz" align="middle" width="610px">

    <form action="/users/new" method="post">
    Create an account, it takes less than 20 seconds!<br>
    <input type="text" name="username" placeholder="Username">
    <br>
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Submit">
  </form>
  <br>

</div>